Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-PyMongo==2.0.0
Flask-SocketIO==3.0.1
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.0
PyYAML==3.13
WTForms==2.2.1
WTForms-Dynamic-Fields==0.1a3
Werkzeug==0.14.1
ajax==3.0.0
argh==0.26.2
bcrypt==3.1.4
cffi==1.11.5
click==6.7
decorator==4.3.0
django-appconf==1.0.2
dnspython==1.15.0
eventlet==0.24.0
greenlet==0.4.14
gunicorn==19.9.0
itsdangerous==0.24
monotonic==1.5
pathtools==0.1.2
pycparser==2.18
pymongo==3.7.0
python-engineio==2.2.0
python-socketio==2.0.0
six==1.11.0
watchdog==0.8.3
