bs4
Django
celery>=4.3,<5.0
coverage
dj-database-url
django-cors-headers
django-extensions
django-filter
django-rest-knox
django-rest-passwordreset
djangorestframework
factory_boy
faker
lxml
mysqlclient
gunicorn
psycopg2-binary
whitenoise
