/* LAND POSITIONS */

#alb {
    left: 57.5%;
    top: 84%;
}
#ank {
    left: 84%;
    top: 83%;
}
#apu {
    left: 50.5%;
    top: 82.5%;
}
#arm {
    left: 92.5%;
    top: 80.5%;
}
#bel {
    left: 35%;
    top: 55%;
}
#ber {
    left: 48.5%;
    top: 50.5%;
}
#boh {
    left: 50.5%;
    top: 59.5%;
}
#bre {
    left: 25.5%;
    top: 59%;
}
#bud {
    left: 60.5%;
    top: 66%;
}
#bul {
    left: 66%;
    top: 79%;
}
#bul-ec {
    left: 70%;
    top: 78%;
}
#bul-sc {
    left: 67%;
    top: 83%;
}
#bur {
    left: 34.5%;
    top: 63%;
}
#cly {
    left: 27.5%;
    top: 38.5%;
}
#con {
    left: 71%;
    top: 86%;
}
#den {
    left: 44.5%;
    top: 41.5%;
}
#edi {
    left: 29.5%;
    top: 35%;
}
#fin {
    left: 64%;
    top: 27%;
}
#gal {
    left: 62.5%;
    top: 60%;
}
#gas {
    left: 26.5%;
    top: 68%;
}
#gre {
    left: 60%;
    top: 87%;
}
#kie {
    left: 43%;
    top: 51.5%;
}
#liv {
    left: 62%;
    top: 42%;
}
#lvp {
    left: 28%;
    top: 43%;
}
#lon {
    left: 31%;
    top: 49%;
}
#hol {
    left: 38%;
    top: 52%;
}
#mar {
    left: 35%;
    top: 69.5%;
}
#mos {
    left: 78%;
    top: 43%;
}
#mun {
    left: 43%;
    top: 61.5%;
}
#naf {
    left: 22%;
    top: 93.5%;
}
#nap {
    left: 49.5%;
    top: 85.5%;
}
#nor {
    left: 45.5%;
    top: 25.5%;
}
#par {
    left: 30%;
    top: 60.5%;
}
#pic {
    left: 32%;
    top: 55.5%;
}
#pie {
    left: 41%;
    top: 70%;
}
#por {
    left: 11%;
    top: 75.5%;
}
#pru {
    left: 53%;
    top: 51.5%;
}
#rom {
    left: 46.5%;
    top: 81.5%;
}
#ruh {
    left: 40%;
    top: 56.5%;
}
#rum {
    left: 69%;
    top: 71%;
}
#ser {
    left: 59.5%;
    top: 76%;
}
#sev {
    left: 83%;
    top: 62%;
}
#sil {
    left: 52%;
    top: 55%;
}
#smy {
    left: 74%;
    top: 91%;
}
#spa {
    left: 21%;
    top: 77.5%;
}
#spa-nc {
    left: 17%;
    top: 69.5%;
}
#spa-sc {
    left: 20%;
    top: 85.5%;
}
#stp {
    left: 78%;
    top: 27%;
}
#stp-nc {
    left: 77%;
    top: 13%;
}
#stp-sc {
    left: 66%;
    top: 33%;
}
#swe {
    left: 51.5%;
    top: 33.5%;
}
#syr {
    left: 91%;
    top: 96%;
}
#tri {
    left: 51.5%;
    top: 72%;
}
#tun {
    left: 39%;
    top: 96%;
}
#tus {
    left: 43%;
    top: 76.5%;
}
#tyr {
    left: 49%;
    top: 64.5%;
}
#ukr {
    left: 70%;
    top: 60%;
}
#ven {
    left: 44.5%;
    top: 71.5%;
}
#vie {
    left: 53.5%;
    top: 63.5%;
}
#wal {
    left: 26%;
    top: 47%;
}
#war {
    left: 61%;
    top: 53%;
}
#yor {
    left: 30.5%;
    top: 45%;
}