/* SEA POSITIONS */

#adr {
    left: 51.5%;
    top: 79%;
}
#aeg {
    left: 66.5%;
    top: 94%;
}
#bal {
    left: 53.5%;
    top: 44%;
}
#bar {
    left: 73.5%;
    top: 4%;
}
#bla {
    left: 80.5%;
    top: 75%;
}
#bot {
    left: 57.5%;
    top: 34%;
}
#eas {
    left: 77.5%;
    top: 97%;
}
#eng {
    left: 24.5%;
    top: 54%;
}
#gol {
    left: 34.5%;
    top: 79%;
}
#hel {
    left: 39.5%;
    top: 45%;
}
#ion {
    left: 54.5%;
    top: 93%;
}
#iri {
    left: 19.5%;
    top: 48%;
}
#mid {
    left: 4.5%;
    top: 68%;
}
#nat {
    left: 14.5%;
    top: 31%;
}
#nrg {
    left: 38.5%;
    top: 18%;
}
#nth {
    left: 37.5%;
    top: 35%;
}
#ska {
    left: 44.5%;
    top: 37%;
}
#tyn {
    left: 42.5%;
    top: 84%;
}
#wes {
    left: 28.5%;
    top: 88%;
}