.header {
    text-align: center;
}


.board-image {
    width: 1450px;
    height: 1200px;
    
    background-image: url("../images/bigmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    display: inline;
}

.piece {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    font: 13.8px Arial, sans-serif;
    font-weight: bold;
    position: absolute;
}
.england-piece {
    background: #50528A;
}
.france-piece {
    background: #7091B6
}
.italy-piece {
    background: #798C57
}
.austria-piece {
    background: #94716C
}
.germany-piece {
    background: #5D5A56;
}
.russia-piece {
    background: #7B21C2;
}
.turkey-piece {
    background: #B6A63D;
}

@media (min-width: 768px) {
    .container {
         max-width: none; 
    }
}
@media (min-width: 576px) {
    .container {
         max-width: none; 
    }
}
@media (min-width: 992px) {
    .container {
        max-width: none;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: none;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}