body {
  background: #fafafa;
  color: #333333;
  margin-top: 0px;
  font-family: 'Rokkitt', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

#draggable {
  padding: 0.5em; 
}

input.valid {

}

input.invalid {

}

#draggable {
  width: 400px;
}

#table {
  width: 100%;
}

#create-order {
  display: block;
  background-color: #f9f1ea;
  border: solid rgba(0, 0, 0, .23) .5px;
  color: rgba(0, 0, 0, 0.69);;
  font-size: .9rem;
  margin-top: .6rem;
}

#orders-issued {
  display: none;
}

#order-form {
  display: none;
}

#orders-given {
  float: right;
}

#order-input {
  width: 100%;
  display: inline-block;
  background-color: #f9f1ea;
}

#order-input.valid {
  color: green;
  border-color: lightgreen;
}

#order-input.invalid {
  color: red;
  border-color: red;
}

#myMessage {
  background-color: #f9f1ea;
}


.btn {
  font-family: 'Rokkitt', serif;
}

.btn-primary {
  background-color: grey;
  border-color: dimgray;
}

.btn-link {
  color: black;
}

.btn-primary:hover {
  background-color: grey;
  border-color: dimgray;
}

.feedback {
  display: block;
  color: transparent;
  font-size: .8rem;
}

.game-rules-a {
  font-size: 1rem;
  color: #0085a1;
}

.order-submit {
  width: 20%;
  font-size: .8rem;
}

#successAlert, #errorAlert{
  position: inherit;
}

.modal-backdrop {
  background: none; 
}

.modal-open {
    overflow: auto;
}

.modal-dialog {
    margin-left: 2%;
    margin-top: 15vh;
}

.modal-footer {
  display: inline-block;
}

.modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.nav-tabs {
  border-bottom: 0px;
}

.nav-tab-button-style {
  padding-right: .5rem;
  padding-left: .5rem;
}

.btn-primary {
  z-index: auto;
  position: relative;
  margin-left: 2%;
}

.alert {
  position: absolute;
  z-index: 1;
  right: 0%;
}

.piece-name-form {
  display: inline-block;
}

.flag {
  height: 1rem;
  margin-right: .5rem;
}

.player-flag {
  display: inline-block;
}

.messages-list {
  list-style-type: none;
  font-size: 1rem;
  width: 80%;
}

.messages-row {
  height: 50vh;
  overflow: overlay;
}

#overlay {
  pointer-events: none;
  background-image: url("../images/frosted-glass-noise.png");
  width: inherit;
  opacity: .5;
  height: -webkit-fill-available;
  position: absolute;
}

.page {
  background-color: #fffef6;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.12), rgba(200, 160, 0, 0.1)65%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
  box-shadow: inset 0 0 75px #ffc10754, inset 0 0 20px rgba(22, 53, 86, 0), inset 0 0 30px rgba(16, 10, 80, 0.8);
  width: calc(8.5in - 15em);
  letter-spacing: 0.05em;
  line-height: 1.8;
  padding: 5em 10em 15em 5em;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#nav {
    position: inherit;
}

.header {
    text-align: center;
}

.board-image {
    width: 1450px;
    height: 1200px;
    
    left: 0px;
    
    background-image: url("../images/bigmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    display: inline;
}

.fa-bars {
  text-align: center;
  font-size: 3rem;
  padding-left: 5px;
  padding-right: 5px;
}

.floating-button {
  
  position: absolute;
  text-align: center;
  top: 15vh;
  left: 15%;
  border: solid black 2px;
  background-image: url("../images/logo_diplomacy.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 74px;
  height: 74px;
  background-color:inherit;
}

.piece {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    font: 13.8px Arial, sans-serif;
    font-weight: bold;
    position: absolute;
}
.england-piece {
    background: #50528A;
}
.france-piece {
    background: #7091B6
}
.italy-piece {
    background: #798C57
}
.austria-piece {
    background: #94716C
}
.germany-piece {
    background: #5D5A56;
}
.russia-piece {
    background: #7B21C2;
}
.turkey-piece {
    background: #B6A63D;
}

@media (min-width: 768px) {
    .container {
         max-width: none; 
    }
}
@media (min-width: 576px) {
    .container {
         max-width: none; 
    }
}
@media (min-width: 992px) {
    .container {
        max-width: none;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: none;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}