body {
  background: #fafafa;
  color: #333333;
  margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

#draggable {
  padding: 0.5em; 
}
.modal-backdrop {
  background: none; 
}

.modal-open {
    overflow: auto;
}

.modal-dialog {
    margin-left: 2%;
    margin-top: 15vh;
}

.nav-tabs {
  border-bottom: 0px;
}

.nav-tab-button-style {
  padding-right: .5rem;
  padding-left: .5rem;
}

.btn-primary {
  z-index: auto;
  position: relative;
  margin-left: 2%;
}


.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#nav {
    position: inherit;
}

.header {
    text-align: center;
}

.board-image {
    width: 1450px;
    height: 1200px;
    
    left: 0px;
    
    background-image: url("../images/bigmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    display: inline;
}

.fa-bars {
  text-align: center;
  font-size: 3rem;
  padding-left: 5px;
  padding-right: 5px;
}

.floating-button {
  
  position: absolute;
  text-align: center;
  top: 15vh;
  left: 15%;
  border: solid black 2px;
  background-image: url("../images/logo_diplomacy.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 74px;
  height: 74px;
  background-color:inherit;
}

.piece {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    font: 13.8px Arial, sans-serif;
    font-weight: bold;
    position: absolute;
}
.england-piece {
    background: #50528A;
}
.france-piece {
    background: #7091B6
}
.italy-piece {
    background: #798C57
}
.austria-piece {
    background: #94716C
}
.germany-piece {
    background: #5D5A56;
}
.russia-piece {
    background: #7B21C2;
}
.turkey-piece {
    background: #B6A63D;
}

@media (min-width: 768px) {
    .container {
         max-width: none; 
    }
}
@media (min-width: 576px) {
    .container {
         max-width: none; 
    }
}
@media (min-width: 992px) {
    .container {
        max-width: none;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: none;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}