{% extends 'base.html' %} 
{% block contents %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% with messages = get_flashed_messages() %} 
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} 
            {% endwith %}

            <div>Your orders have already been finalised.</div>
            <div><a href="{{ url_for('edit_orders') }}">Edit Orders</a></div>
            <div><a href="{{ url_for('board') }}">Back to Board</a></div>
            
        </div>
    </div>
    <hr> 
</div>
    
{% endblock %}
