{% extends 'base.html' %} 
{% block contents %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% with messages = get_flashed_messages() %} 
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} 
            {% endwith %}

            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                    
                    {{ form.command }}
                    {{ form.target }}
                    {{ form.object }}
                    target 2 
                    {{ form.target_2 }}
                    <input type="submit"/>
                </fieldset>
            </form>

        </div>
    </div>

    <hr> 
    
{% endblock %}
