{% extends 'base.html' %} 
{% block contents %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% with messages = get_flashed_messages() %} 
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} 
            {% endwith %}

            <form method="POST" action="">

                
                {% for piece in pieces %}

                <div class="piece-name-form">
                    {% if piece.piece_type == "a" %}Army {% else %}Fleet {% endif %}{{ territories[piece.territory]["display_name"]}}
                </div>
                <br>
                
                <input type="hidden" name="{{piece['territory']}}-origin" value="{{piece['territory']}}"/>
                
                <label for="{{piece['territory']}}-command-select">Choose a command:</label>
                <select id="{{piece['territory']}}-command-select" name="{{piece['territory']}}-command">
                    <!--<option value="">--Please choose an option--</option>-->
                    <option value="hold">hold</option>
                    <option value="move">move</option>
                    <option value="support">upport</option>
                    <option value="convoy">convoy</option>
                </select>
                <br>
                
                <label for="{{piece['territory']}}-target-select">Choose a target:</label>
                <select id="{{piece['territory']}}-target-select" name="{{piece['territory']}}-target">
                    <!--<option value="">--Please choose an option--</option>-->
                    {% for neighbour in territories[piece["territory"]]["neighbours"] %}
                    <option value="{{ neighbour['name'] }}">{{ territories[neighbour['name']]["display_name"] }}</option>
                    {% endfor %}
                </select>
                <br>

                <label for="{{piece['territory']}}-object-select">Choose an object:</label>
                <select id="{{piece['territory']}}-object-select" name="{{piece['territory']}}-object">
                    <!--<option value="">--Please choose an option--</option>-->
                    {% for neighbour in territories[piece["territory"]]["neighbours"] %}
                    <option value="{{ neighbour['name'] }}">{{ territories[neighbour['name']]["display_name"] }}</option>
                    {% endfor %}
                </select>
                <hr>
                {% endfor %}
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Finalise orders</button>
                </div>
            </form>
        </div>
    </div>

    <hr> 
    
</div>
    
{% endblock %}
